.major {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.major h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.major h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.major-list {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.major-list li {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 800px) {
    .major h2 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }
    
    .start{
        font-size: 22px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

.setumei{
    font-size: 22px;
}

.hukudai{
    font-size: 33px;
}

.start{
    font-size: 22px;
    padding-left: 10px;
    padding-top: 20px;
}