.trunpe {
    background-color: #92c9ecfe;
    padding-top: 45px;
    padding-bottom: 55px;
}

.trunpe h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.trunpe-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.trunpe-list li {
    min-width: 1000px;
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.pageSetumei{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.hukudai{
    font-size: 33px;
    margin-left: 20px;
    margin-top: 20px; 
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.box {
    line-height: 1.8;
    text-indent: 1em;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
}

.setumei{
    text-indent: 1em;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.start{
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

@media (max-width: 800px) {
    .trunpe h2 {
        font-size: 33px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box {
        line-height: 1.8;
        min-width: 500px;
        background-color: #f9f9f9;
        overflow: scroll;
        padding-right: 20px;
        padding-left: 20px;
    }

    .setumei{
        text-indent: 1em;
        line-height: 1.8;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .pageSetumei{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .trunpe-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .trunpe-list li {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .start{
        font-size: 22px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}



